streamlit
langchain-openai
langchain-groq
langchain-google-genai
langchain-core
langchain-community
pypdf
faiss-cpu
sentence-transformers
tavily-python
streamlit
langchain>=0.3.25
langchain-tavily
python-dotenv


