streamlit
langchain-openai
langchain-groq
langchain-google-genai
langchain-core
google-generativeai
groq
langchain
langchain-community
faiss-cpu
pypdf
pandas
plotly
requests
python-dotenv
tiktoken
supabase
openai
streamlit-option-menu
python-docx
tabulate
openpyxl
xlrd