streamlit
langchain-openai
langchain-groq
langchain-google-genai
langchain-core
langchain-community
pypdf
faiss-cpu
sentence-transformers
langchain-tavily  # ✅ Corrected package name
unstructured
pdfminer.six
lxml
pillow
pi-heif
unstructured[local-inference]
unstructured_inference
pdfplumber
nest_asyncio
streamlit
pdfplumber
langchain
python-dotenv
spacy

